<head>
    <title>Top Donators</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>

<body>
    Here's the sexy people who have donated to this site:

    <br />

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
        </tr>
        {{#donations}}
        <tr>
            <td>{{name}}</td>
            <td>{{amount}}</td>
        </tr>
        {{/donations}}
    </table>

    If you would like your name here instead of a BTC address, shoot me an email <a href="mailto:miyakoyakota@riseup.com">miyakoyakota@riseup.com</a> with your transaction info.
</body>
